<h1>Kayıt Oluştur</h1>
<br/>

<div class="alert alert-warning" role="alert">
  Tüm alanları doldurunuz!
</div>

<%= render 'form', deneme: @deneme %>


<%= link_to 'Back', denemes_path, class:"btn btn-dark" %>

